
.container{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 3.5rem;
}

p{
    font-size: 1.1rem;
}

button{
    background-color: rgb(53, 16, 105);
    color: aliceblue;
}